$primaryColor:#4132b1;

body{
  background: #000;
}

.article{
  background:#f2f2f2;
  padding: 20px;
  margin: auto;
  width: 600px;

  p{
    a{
      text-decoration: none;
      color: $primaryColor;
    }
  }

  .author{
    color: $primaryColor;
  }

  .title{
    color: red;
  }
}
